body {
    margin:0;
    padding:0;
    overflow:hidden;
}

section{
    height:100%;
    width:100%;
    position:absolute ;  
    background-image: url(https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
}
